<template name="playerForm">
    {{#autoForm schema=playerSchema novalidate="" doc=player}}
    <fieldset>
        <legend>Add a Person</legend>
        <div class="form-group{{#if afFieldIsInvalid 'firstName'}} has-error{{/if}}">
            {{afFieldLabel 'firstName' for="firstName"}}
            {{afFieldInput 'firstName' id="firstName"}}
            {{#if afFieldIsInvalid 'firstName'}}
            <span class="help-block">{{afFieldMessage 'firstName'}}</span>
            {{/if}}
        </div>
        <div class="form-group{{#if afFieldIsInvalid 'lastName'}} has-error{{/if}}">
            {{afFieldLabel 'lastName'}}
            {{afFieldInput 'lastName'}}
            {{#if afFieldIsInvalid 'lastName'}}
            <span class="help-block">{{afFieldMessage 'lastName'}}</span>
            {{/if}}
        </div>
        <div class="form-group{{#if afFieldIsInvalid 'birthDay'}} has-error{{/if}}">
            {{afFieldLabel 'birthDay'}}
            {{afFieldInput 'birthDay' class="datepicker"}}
            {{#if afFieldIsInvalid 'birthDay'}}
            <span class="help-block">{{afFieldMessage 'birthDay'}}</span>
            {{/if}}
        </div>
        <div class="form-group{{#if afFieldIsInvalid 'description'}} has-error{{/if}}">
            {{afFieldLabel 'description'}}
            {{afFieldInput 'description' rows="5" class="tinymce"}}
            {{#if afFieldIsInvalid 'description'}}
            <span class="help-block">{{afFieldMessage 'description'}}</span>
            {{/if}}
        </div>


    </fieldset>
    <button type="submit" class="btn btn-primary {{#if _templateData.player}}update{{else}}insert{{/if}}">Save</button>
    {{/autoForm}}
</template>